@using System
@using System.Linq
@using System.Collections.Generic
@{
  var packageIconPath = Model.Artifact.Icon ?? "../../../../../assets/tv-ico.png";
  var licensePath = "LICENSE";
  var assemblyVersion = Model.Artifact.AssemblyVersion;
}
<Project Sdk="Microsoft.NET.Sdk">
  <Import Condition=" EXISTS('../../maven.props') " Project="../../maven.props" />
  <Target Name="_CleanAarOutputPath" AfterTargets="_CreateAar" BeforeTargets="_IncludeAarInNuGetPackage">
    <Delete Files="$(_AarOutputPath)" />
  </Target>
  <PropertyGroup>
    <TargetFramework>net8.0-android</TargetFramework>
    <Nullable>enable</Nullable>
    <ImplicitUsings>enable</ImplicitUsings>
    <IsBindingProject>true</IsBindingProject>
    <AndroidUseIntermediateDesignerFile>false</AndroidUseIntermediateDesignerFile>
    <AssemblyName>@(Model.Artifact.Nuget.PackageId)</AssemblyName>
    <RootNamespace>@(Model.Artifact.Nuget.PackageId)</RootNamespace>
  </PropertyGroup>
  <ItemGroup>
    <_TargetFrameworkNugetBuildFolders Include="build\net8.0-android34.0" />
    <_TargetFrameworkNugetBuildFolders Include="buildTransitive\net8.0-android34.0" />
  </ItemGroup>
  <PropertyGroup>
    <UserHome Condition=" '$(OS)' == 'Unix' ">$(Home)</UserHome>
    <UserHome Condition=" '$(OS)' != 'Unix' ">$(UserProfile)</UserHome>
    <AndroidSdkDirectory Condition=" '$(OS)' == 'Unix' ">$(UserHome)/Library/Android/sdk</AndroidSdkDirectory>
    <AndroidSdkDirectory Condition=" '$(OS)' != 'Unix' ">$(UserHome)/AppData/Local/Android/sdk</AndroidSdkDirectory>
  </PropertyGroup>  
  <PropertyGroup>
    <PackageId>@(Model.Artifact.Nuget.PackageId)</PackageId>
    <Title>@(Model.GroupName) - @(Model.Artifact.Name)</Title>
    <Summary>.NET Android binding library for @(Model.Artifact.GradleImplementation)</Summary>
    <Description>
        .NET Android binding library for @(Model.Artifact.GradleImplementation)
    </Description>
    <PackageTags> xamarin, android, @(Model.Artifact.Group.Id), @(Model.Artifact.Nuget.ArtifactId)</PackageTags>
    <Authors>tuyen,tuyen-vuduc</Authors>
    <Owners>tuyen,tuyen-vuduc</Owners>
    <Company>N/A</Company>
    <FileVersion>@(assemblyVersion)</FileVersion>
    <InformationalVersion>@(Model.Artifact.InformationalVersion)</InformationalVersion>
    <AssemblyVersion>@(assemblyVersion)</AssemblyVersion>
    <Copyright>© tuyen-vuduc. All rights reserved.</Copyright>
    <PackageProjectUrl>https://github.com/tuyen-vuduc/dotnet-binding-utils</PackageProjectUrl>
    <RepositoryUrl>@(Model.Artifact.RepositoryUrl)</RepositoryUrl>
    <PackageLicenseFile>LICENSE</PackageLicenseFile>
    <PackageIcon>package-icon.png</PackageIcon>
    <PackageReadmeFile>README.md</PackageReadmeFile>
    <PackageVersion>@(Model.Artifact.Version.NugetVersion)</PackageVersion>
    <PackageRequireLicenseAcceptance>false</PackageRequireLicenseAcceptance>
    <!-- Include symbol files (*.pdb) in the built .nupkg -->
    <AllowedOutputExtensionsInPackageBuildOutputFolder>$(AllowedOutputExtensionsInPackageBuildOutputFolder);.pdb</AllowedOutputExtensionsInPackageBuildOutputFolder>
  </PropertyGroup>

  <PropertyGroup>
    <AndroidClassParser>class-parse</AndroidClassParser>
    <AndroidCodegenTarget>XAJavaInterop1</AndroidCodegenTarget>
    <AndroidFragmentType>AndroidX.Fragment.App.Fragment</AndroidFragmentType>
  </PropertyGroup>
  <ItemGroup>
    <AndroidNamespaceReplacement Include='Com.Mapbox.Maps.Plugin' Replacement='Com.Mapbox.Maps.Plugins' Visible="false" />
    <AndroidNamespaceReplacement Include='Com.Mapbox.Maps.Plugins.Attribution' Replacement='Com.Mapbox.Maps.Plugins.Attributions' Visible="false" />
    <AndroidNamespaceReplacement Include='Com.Mapbox.Maps.Annotation' Replacement='Com.Mapbox.Maps.Annotations' Visible="false" />
    <AndroidNamespaceReplacement Include='Com.Mapbox.Maps.Plugins.Annotation' Replacement='Com.Mapbox.Maps.Plugins.Annotations' Visible="false" />
  </ItemGroup>
  <PropertyGroup>
    <!--
      =================================================================================================================
      CS warnings (from AndroidX)
    -->
    <!--
      No warnings for:
       - CS0618: 'member' is obsolete: 'text'
       - CS0109: The member 'member' does not hide an inherited member. The new keyword is not required
       - CS0114: 'function1' hides inherited member 'function2'. To make the current method override that implementation, add the override keyword. Otherwise add the new keyword.
       - CS0628: 'member' : new protected member declared in sealed class
       - CS0108: 'member1' hides inherited member 'member2'. Use the new keyword if hiding was intended.
       - CS0809: Obsolete member 'member' overrides non-obsolete member 'member'
    -->
    <NoWarn>0618;0109;0114;0628;0108;0809</NoWarn>
    <!--
      CS warnings (from AndroidX)
      =================================================================================================================
    -->
    <!--
      =================================================================================================================
      Xamarin.Android Bindings specific warnings
    -->
    <!--
      Ignoreable
      Performance hit for builds
      - BG8A04: <attr path="XPath" /> matched no nodes.
      - BG8A00: <remove-node path="XPath" /> matched no nodes.
    -->
    <NoWarn>08A04;BG8A00;CS0109;CS0108;CS0114</NoWarn>

    <!--
      Harmfull
      - BG8401: Skipping managed_type, due to a duplicate field, method or nested type name. (Nested type) (Java type: java_type)
      - BG8604: top ancestor Type1 not found for nested type Namespace.Type1.Type2
      - BG8C00: For type Namespace.Type1, base interface java.Interface does not exist
      - BG8700: Unknown return type java.Type1 in method Method1 in managed type Namespace.Type2.
      - BG8800: Unknown parameter type java.Type1 in method Method2 in managed type Namespace.Type2.
    -->
    <WarningsAsErrors>BG8401;BG8604;BG8C00;BG8700;BG8800</WarningsAsErrors>
    <!--
      Xamarin.Android specific warnings
      =================================================================================================================
    -->
  </PropertyGroup>
  <ItemGroup>
    <None Include="@(Model.Artifact.Nuget.PackageId).targets" Pack="True" PackagePath="@@(_TargetFrameworkNugetBuildFolders)" />
    <None Include="@(Model.Artifact.Nuget.PackageId).targets" Pack="True" PackagePath="@@(_TargetFrameworkNugetBuildFolders)" />   
    <None Include="@(packageIconPath)" Pack="True" PackagePath="package-icon.png" />
    <None Include="LICENSE" Pack="True" PackagePath="" />
    <None Include="README.md" Pack="True" PackagePath="" />
  </ItemGroup>

  <ItemGroup>
  @if (!string.IsNullOrEmpty(Model.Artifact.SourcesJarRelativeFilePath)) {
    <JavaSourceJar
      Include="$(UserHome)/@(Model.Artifact.SourcesJarRelativeFilePath)"
      Condition="Exists('$(UserHome)/@(Model.Artifact.SourcesJarRelativeFilePath)')"
      />
  }
@{
  var homeFolder = Xamarin.Build.Download.Platform.IsWindows
                  ? System.Environment.SpecialFolder.LocalApplicationData
                  : System.Environment.SpecialFolder.Personal;
  var homeFolderPath = System.Environment.GetFolderPath(homeFolder);  
  var proguardFilePath = System.IO.Path.Combine(
    homeFolderPath,
    Model.Artifact.ProguardFileRelativePath
  );
}
@if (!string.IsNullOrEmpty(Model.Artifact.ProguardFileRelativePath)
  && System.IO.File.Exists(proguardFilePath)) {
    <None Include="@(proguardFilePath)" Pack="True" PackagePath="proguard" />
}
@if (Model.Artifact.IsAAR) {
    <InputJar Include="$(UserHome)/@(Model.Artifact.LibFolderPath)/_aar/classes.jar" />
    <!-- For those artifacts with lib/ folder -->
    <InputJar
      Condition="Exists('$(UserHome)/@(Model.Artifact.LibFolderPath)/_aar/libs/')"
      Include="$(UserHome)/@(Model.Artifact.LibFolderPath)/_aar/libs/*.jar"
      />
      } else if (!string.IsNullOrEmpty(Model.Artifact.LibRelativePath)) {
    <InputJar Include="$(UserHome)/@(Model.Artifact.LibRelativePath)" />
      }
    @foreach (var dep in @Model.NuGetDependencies) {
      if (!dep.Nuget.DependencyOnly) {
    <ProjectReference Include="..\..\..\@(dep.Group.Id)\@(dep.Nuget.ArtifactId)\binding\@(dep.Nuget.PackageId).csproj" PrivateAssets="none" />
      }
    }
    @foreach (var dep in @Model.NuGetDependencies) {
      if (dep.Nuget.DependencyOnly) {
    <PackageReference Include="@(dep.Nuget.PackageId)" Version="@(dep.Version.NugetVersion.ToNormalizedString())" PrivateAssets="none" />
      }
    }
    @foreach (var dep in @Model.Artifact.FixedVersions) {
    <PackageReference Include="@(dep.Key)" Version="@(dep.Value)" PrivateAssets="none" />
    }
  </ItemGroup>
  <PropertyGroup>
    <AndroidTargetSdkVersion>34</AndroidTargetSdkVersion>
    <_GradleSyncIsAndroid>true</_GradleSyncIsAndroid>
		<_GradleSyncMasterBeforeTargets>_ResolveLibraryProjectImports</_GradleSyncMasterBeforeTargets>
		<_GradleSyncMasterDependsOnTargets>_GradleSync</_GradleSyncMasterDependsOnTargets>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Dependencies.Gradle" Version="8.6.0.1" />
    <TransformFile Include="..\..\..\..\Metadata.common.xml">
      <Link>Transforms/Metadata.common.xml</Link>
    </TransformFile>
  </ItemGroup>
  <Target Name="_GradleDependencyResolverTrigger" DependsOnTargets="_GradleSync" BeforeTargets="CoreCompile" />
</Project>